In [207]:
import pandas as pd
import numpy as np
import matplotlib

In [208]:
data=pd.read_csv('doctors/n_w_physicians.csv')

In [209]:
data.sample(5)

,name,address,phone,specialty
2931,"Marco Palmieri, DO","222 Middle Country Road Smithtown , NY 11787 4...",(631) 393-1645,"Anesthesiology, Pain Medicine"
537,"Joseph A. Cardinale, MD","1728 Sunrise Highway Merrick , NY 11566 3480 V...",(516) 536-2800,"Anesthesiology, Pain Medicine"
1410,"Virginia Elizabeth Gonzalez, MD","270 Park Avenue Huntington , NY 11743",(631) 358-9966,Family Medicine
1330,"Karen E. Gibbs, MD","256 Mason Avenue Staten Island , NY 10305",(718) 226-1300,Surgery
3427,"Mala Sachdeva, MD","100 Community Drive, Floor 2 Great Neck , NY 1...",(516) 465-8200,"Nephrology, Internal Medicine"

In [210]:
df=data.address.str.split(',', expand=True)
df.sample(5)

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
4288,475 Seaview Avenue Staten Island,NY 10305,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
57,100 East 77th Street New York,NY 10075,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1122,410 Lakeville Road,Suite 108 New Hyde Park,NY 11042 376 East Main Street Bay Shore,NY 11706,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3386,475 Seaview Avenue Staten Island,NY 10305,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
22,110 East 59th Street New York,NY 10022,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [211]:
# df.columns.to_list()

In [212]:
# df['col1'] = np.where(df['col1'] == 0, 
#                       np.where(df['col2'] == 0, df['col3'], df['col2']),
#                       df['col1'])

In [213]:
counter = 0
for row in address[1]:
    if not "NY 1" in row:
        counter +=1
counter

1568

In [214]:
address[1][address[1] == "NY 1"] = address[2]
address.sample(7)

,0,1,2,3,4
2631,45 Crossways Park Drive West Woodbury,NY 11797 123 Maple Avenue Cedarhurst,NY 11516 1101 Stewart Avenue,Suite 100 Garden City,NY 11530 660 Broadway Massapequa
3869,875 Old Country Road,Floor 2 Plainview,NY 11803,None,None
2560,400 Community Drive Manhasset,NY 11030 284 Pulaski Road Greenlawn,NY 11740,None,None
91,1575 Hillside Avenue,Suite 102 New Hyde Park,NY 11040,None,None
2211,211-16 Union Turnpike Bayside,NY 11364,NaN,None,None
2079,269-01 76th Avenue New Hyde Park,NY 11040,NaN,None,None
2812,300 Community Drive,9 Tower Manhasset,NY 11030,None,None

In [215]:
counter = 0
for row in address[0]:
    if "NY 1" not in row:
        counter +=1
counter

4408

In [216]:
len(address)

4408

In [217]:
test= address

In [218]:
test.set_index(0)

,1,2,3,4
0,,,,
270 Park Avenue Huntington,NY 11743,NaN,None,None
400 Community Drive Manhasset,NY 11030,NaN,None,None
270-5 76th Avenue New Hyde Park,NY 11040,NaN,None,None
475 Seaview Avenue Staten Island,NY 10305,NaN,None,None
733 Sunrise Highway,Floor 1 Lynbrook,NY 11563,None,None
...,...,...,...,...
70 North Country Road,Suite 105 Port Jefferson,NY 11777,None,None
611 Northern Boulevard,Suite 200 Great Neck,NY 11021,None,None
400 East Main Street Mount Kisco,NY 10549,NaN,None,None
733 Sunrise Highway Lynbrook,NY 11563,NaN,None,None
39 Brentwood Road Bay Shore,NY 11706,NaN,None,None

In [219]:
address.drop(columns=address.columns[5:37], inplace=True, axis=1)

In [220]:
address.shape

(4408, 5)

In [221]:
address.sample(3)

,0,1,2,3,4
1373,376 East Main Street Bay Shore,NY 11706 222 Middle Country Road,Suite 106 Smithtown,NY 11787 400 Old Country Road Riverhead,NY 11901
3803,75-59 263rd Street,1142 Glen Oaks,NY 11004,None,None
3001,270 Park Avenue Huntington,NY 11743,NaN,None,None

In [231]:
address[2].fillna(value=np.nan, inplace=True)
# address[2].fillna(0, inplace=True)

In [232]:
address.sample(3)

,0,1,2,3,4
1850,321 Crossways Park Drive Woodbury,NY 11797,0,None,None
3946,75-59 263rd Street Glen Oaks,NY 11004,0,None,None
3967,1099 Targee Street Staten Island,NY 10304 3333 Hylan Boulevard Staten Island,NY 10306 9920 4th Avenue Brooklyn,NY 11209 65 Columbus Avenue Staten Island,NY 10304 3311 Hylan Boulevard Staten Island

In [ ]:
# df['col1'] = np.where(df['col1'] == 0, 
#                       np.where(df['col2'] == 0, df['col3'], df['col2']),
#                       df['col1'])

In [ ]:
# df.col1.replace(0,df.col2,inplace=True)
# df.col1.replace(0,df.col3,inplace=True)